.sudoku-board {
    border: 3px solid;
    margin: auto;
    width: fit-content;
  }
  
.sudoku-row {
    display: flex;
  }

.sudoku-row-thick {
  display: flex;
  border-bottom: 3px solid #000;
}
  
 